In [1]:
from keras.datasets import mnist
(train_images, train_labels), (test_images, test_labels) = mnist.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 99s 9us/step

In [2]:
train_images.shape

(60000, 28, 28)

In [3]:
from keras import models
from keras import layers

network = models.Sequential()
network.add(layers.Dense(512, activation='relu', input_shape=(28 *28, )))
network.add(layers.Dense(10, activation='softmax'))

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ab = pd.DataFrame({'a':['a_1', 'a_2', 'a_3', 'a_4'], 
                      'b':['b_1', 'b_2', 'b_3','b_4']})

df_ac = pd.DataFrame({'a':['a_1','a_2','a_4','a_5'],
                     'c':['c_1','c_2','c_3','c_6']})

In [3]:
df_ab

     a    b
0  a_1  b_1
1  a_2  b_2
2  a_3  b_3
3  a_4  b_4

In [4]:
df_ac

     a    c
0  a_1  c_1
1  a_2  c_2
2  a_4  c_3
3  a_5  c_6