In [1]:
import pandas as pd
import numpy as np

In [6]:
df_ab = pd.DataFrame({'a':['a_1', 'a_3', 'a_3', 'a_4'], 
                      'b':['b_1', 'b_2', 'b_3','b_4']})

df_ac = pd.DataFrame({'a':['a_1','a_2','a_4','a_5'],
                     'c':['c_1','c_2','c_3','c_6']})

In [7]:
df_ab

     a    b
0  a_1  b_1
1  a_3  b_2
2  a_3  b_3
3  a_4  b_4

In [8]:
df_ac

     a    c
0  a_1  c_1
1  a_2  c_2
2  a_4  c_3
3  a_5  c_6

In [9]:
pd.merge(df_ab, df_ab)

     a    b
0  a_1  b_1
1  a_3  b_2
2  a_3  b_3
3  a_4  b_4

In [10]:
df_ab.merge(df_ac)

     a    b    c
0  a_1  b_1  c_1
1  a_4  b_4  c_3